<div class=" background-image-container">

    <h1>About Online Skill Checker</h1>
    
    <p>The Online Skill Checker is a web application designed to facilitate the administration and delivery of online exams. 
      It provides a convenient and efficient platform for both students and educators.</p>
    
    <ul>
      <li><b>For Students:</b></li>
        <ul>
          <li>Take online exams from anywhere with an internet connection.</li>
          <li>Receive immediate results and feedback.</li>
          <li>Track their progress and performance over time.</li>
        </ul>
      <li><b>For Educators:</b></li>
        <ul>
          <li>Create and manage online exams with various question types.</li>
          <li>Track student progress and performance.</li>
          <li>Analyze exam data to gain insights into learning outcomes.</li>
        </ul>
    </ul>
    
    <p>The Online Skill Checker is built using modern web technologies and is committed to providing a user-friendly and reliable examination experience.</p>
    </div>
   