
<body>
  
    <div class="background-image-container">

      <nav class="primary-display">
        <ul class="horizontal-list">
         
          <li><a routerLink="/login">Login</a></li>
        
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>

        
        </ul>
      </nav>
      
     
      
      <div class="container">
            <section>
              <router-outlet></router-outlet>
            </section>
            </div>
    </div>
  </body>
 
  